# Projects from the course #
./sketches/sketch-01.js
./sketches/sketch-02.js
./sketches/sketch-03.js
./sketches/sketch-04.js
./sketches/sketch-05.js
./sketches/sketch-06 copy.js
./sketches/sketch-audio-01.js
./sketches/sketch-audio-02.js
./sketches/sketch-curves-intro.js
./sketches/sketch-curves.js
./sketches/sketch-skew.js